<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      // Add a response interceptor
      axios.interceptors.response.use(
        function (response) {
          // Any status code that lie within the range of 2xx cause this function to trigger
          // Do something with response data
          const { authorization } = response.headers;
          authorization && localStorage.setItem("Authorization", authorization);
          return response;
        },
        function (error) {
          // Any status codes that falls outside the range of 2xx cause this function to trigger
          // Do something with response error
          return Promise.reject(error);
        }
      );
    </script>
  </head>
  <body>
    <h1>登录页面</h1>
    <div>用户名: <input id="name" /></div>
    <div>密码: <input type="password" id="password" /></div>
    <div><button id="login">登录</button></div>
    <script>
      let name = document.querySelector("#name");
      let password = document.querySelector("#password");
      let login = document.querySelector("#login");
      // 增
      login.onclick = () => {
        axios
          .post("/api/login", {
            username: name.value,
            password: password.value,
          })
          .then((res) => {
            if (res?.data?.ok === 1) {
              location.href = "/";
            } else {
              alert("用户名密码错误");
            }
          });
      };
    </script>
  </body>
</html>
